<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CountDown</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/scripts.js" defer></script>
</head>
<body>
    <h2>New Year Eve</h2>
    <div class="countdown-container">
        <div class="countdown-el days-c">
            <p class="big-text" id="days"></p>
            <span>days</span>
            <button class= "btnPlus" id="btnPlus"> + 1 </button>
        </div>
        <div class="countdown-el hours-c">
            <p class="big-text" id="hours"></p>
            <span>hours</span>
        </div>
        <div class="countdown-el minutes-c">
            <p class="big-text" id="minutes"></p>
            <span>minutes</span>
        </div>
        <div class="countdown-el seconds-c">
            <p class="big-text" id="seconds"></p>
            <span>seconds</span>
        </div>
        <form action="">
        <input type= "date" id="name" name="name" placeholder="Digite uma data">
        <input type= "submit" value="Enviar" id=Send>


        </form>
    </div>
</body>
</html>