<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CountDown</title>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/scripts.js" defer></script>
</head>
<body>
    <h2 value class="Title" id="Title" name="Title">New Year Eve</h2>
    <div class="countdown-container">
        <div class="countdown-el days-c">
            <p class="big-text" id="days"></p>
            <span>days</span>
        </div>
        <div class="countdown-el hours-c">
            <p class="big-text" id="hours"></p>
            <span>hours</span>
        </div>
        <div class="countdown-el minutes-c">
            <p class="big-text" id="minutes"></p>
            <span>minutes</span>
        </div>
        <div class="countdown-el seconds-c">
            <p class="big-text" id="seconds"></p>
            <span>seconds</span>
        </div>
        
        
    <div class="questions">
        <form action="">
            <div class="Question1">
            <h3 class="subtitle">Name your target:</h3>
         <input class = "q1" type= "text" id="text" name="text" placeholder="Ex: Birthday, Dreams come true...">
    </div>
    <div class="Question2">
        <h3 class="subtitle">Set a date:</h3>
        <input class="q2" type= "date" id="name" name="name" placeholder="Choose a date">
        <input type= "submit" value="Apply Now" id=Send class="bt1">
    </div>
    </div>
    </div>


        </form>
    </div>

</body>
</html>