@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
 box-sizing:border-box;
}

body {
    background-image: url("snow.jpg");
    background-size: cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", "sans-serif";
    margin: 0;

}




h1 {
    font-size:4rem;
    margin-top: -10rem;
    font-weight: normal;
    margin-top: 1rem;

}

.countdown-container{
    display: flex;
    
}


.big-text{
    font-size:6rem;
    font-weight:bold;
    line-height: 1;
    margin: 0 2rem;

}

.countdown-el {
    text-align: center;

}

.countdown-el span {
    font-size: 1.3rem;

}

.questions{
    position: absolute;
    justify-content: center center;
    background-color: rgba(251, 255, 255, 0.431);
    align-items: center center;
    display: flex;
    margin-left: 12rem;
    margin-top: 10rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.subtitle {
    margin: 0rem;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    color: #797878;

}

.q1, .q2 {
    border:none; border-bottom: black 2px solid;
    font-size: 1rem;

}

.q1 {
    width: 100%;height: auto;
}

.bt1{
appearance: none;
background-color: #FFFFFF; 
border-radius:40em;
border-style: none;
box-shadow: #ADCFFF 0 -12px 6px inset;
cursor: pointer;
display: inline-block;
font-family: -apple-system, sans-serif;
font-size:1rem;
font-weight: 600;
letter-spacing: -.24px;
margin: 0.5rem;
outline: none;
padding: 0.2rem 1rem;
transition: all.15s;
quotes: auto;
text-decoration: none;
touch-action: manipulation;
}

.bt1:hover{
    background-color: #3ca6fda6;
    transform: scale(1.02);
}

.bt1:active{
    transform: scale(1.03)
}